[submodule "ErigonEngine/vendor/spdlog"]
	path = ErigonEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ErigonEngine/vendor/GLFW"]
	path = ErigonEngine/vendor/GLFW
	url = https://github.com/stanislavkaliuk/glfw
[submodule "ErigonEngine/vendor/imgui"]
	path = ErigonEngine/vendor/imgui
	url = https://github.com/stanislavkaliuk/imgui
